#KAZ{
    border-top: 3px solid #F7F7F7;
    border-bottom: 3px solid #F7F7F7;
    margin-bottom: 3px;
    border-radius: 15px;
}
.s1.fa.fa-user.label.badgex.label-as-badge.label-success {background-color: #6E6E6E!important;}
.fr.borderg, .fr.borderg {border: 1px solid #6E6E6E;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
.label-primary.mini.fl, .border-radius {border: 2px solid #6E6E6E;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
.room.borderg.hand.nosel.fl, .border-radius {border: 1px solid #6E6E6E;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
.btn-sm, .btn-sm {border: 1px solid #6E6E6E;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
.hand.nosel.fl.uzr.border, .hand.nosel.fl.uzr.border {border: 1px solid #6E6E6E;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
.uzr.fl.corner.borderg.mm, .uzr.fl.corner.borderg.mm {border: 1px solid #6E6E6E;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
.label.tc.border.btn.fl, .label.tc.border.btn.fl {border: 1px solid #6E6E6E;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
ul.nav.nav-tabs.fl li a:hover {background-color: #6E6E6E;color: white;}
ul.nav.nav-tabs.fl li {width: 33.3%;border-top: 2px solid #6E6E6E;border-radius: 15px 15px 0px 0px;background-color: #FFFFFF;border-bottom: 3px solid #F7F7F7;}
ul.nav.nav-tabs.fl li a {font-family: 'jazeera',FontAwesome;font-size: 13px!important;padding: 6px!important;text-align: center!important;border-radius: 15px 15px 0px 0px;width: 100%;color: #6E6E6E;}

div#tlogins {
    border: 2px solid #6E6E6E;
    border-radius: 20px 20px 0px 0px;
}
.emoi {
    width: auto;
    max-width: -webkit-fill-available
}
.bgg.border.corner {
    right: 1px
}
